div(ng-class="{ 'sortable': sortable }")
      .ui-grid-vertical-bar  
      .ui-grid-cell-contents(col-index='renderIndex' ng-mouseenter='hoverTopic = true', ng-mouseleave='hoverTopic = false')
        input(type='checkbox', ng-click='$event.stopPropagation(); grid.appScope.dosomething(col.name)')
        |&nbsp; {{ col.displayName CUSTOM_FILTERS }}
        a.del-edit-btn.btn.btn-default.btn-xs.pull-right(ng-show="hoverTopic" href="", ng-click="$event.stopPropagation(); grid.appScope.showRenameColModal('sm',col)")
                                                             i.glyphicon.glyphicon-pencil
        span(ui-grid-visible='col.sort.direction', ng-class="{ 'ui-grid-icon-up-dir': col.sort.direction == asc, 'ui-grid-icon-down-dir': col.sort.direction == desc, 'ui-grid-icon-blank': !col.sort.direction }")
      .ui-grid-column-menu-button(ng-if='grid.options.enableColumnMenus && !col.isRowHeader && col.colDef.enableColumnMenu !== false', ng-click='toggleMenu($event)')
        i.ui-grid-icon-angle-down  
      .ui-grid-filter-container(ng-if='filterable', ng-repeat='colFilter in col.filters')
        input.ui-grid-filter-input(type='text', ng-model='colFilter.term', ng-click='$event.stopPropagation()', ng-attr-placeholder="{{colFilter.placeholder || ''}}")
        .ui-grid-filter-button(ng-click='colFilter.term = null')
          i.ui-grid-icon-cancel.right(ng-show='!!colFilter.term')  
          // use !! because angular interprets 'f' as false