div(ng-controller="labOrderDetailModalCtrl" style="background-color:#f2f2f2;")
.modal-header
  .modal-body(style='height:105vh;')
    .row(style='background-color:#ffffff; margin:0px;')
      .col-lg-12
      .save-draft-cont(style='position:absolute; float:left; margin-left:-45px;')
            button.btn.btn-default.btn-circle.glyphicon.glyphicon-remove(type="button" ng-click="cancel()")
      .create-new-event-cont
      .h2.h2-create-new|Lab Order Detail
      br
      .hor-line-br
      br
    .row
        .col-lg-12
            h4 {{labOrder.patient.display}}
            //.hor-line-br(style='margin-top:15px;')
            h4 Order: {{labOrderDetail.openmrs_order}}
      .row
         .col-lg-12.col-md-12.col-lg-12
             .panel.panel-default
                 .panel-heading(style="text-align:left; font-size:18px;background-color: yellow;")
                        span(ng-show="labOrderDetail.result_observation_date === null") PROVIDER/DOCTOR:  Please review and sign lab results
                        span(ng-show="labOrderDetail.result_observation_date !== null") Lab Results Reviewed by {{labOrderDetail.result_reviewed_by}} on {{labOrderDetail.result_observation_date | date : 'MM/dd/yyyy hh:mm' }}
                        button.btn.btn-success.sign-button(type="button" ng-click="signResult(labOrderDetail.openmrs_order)" ng-disabled="labOrderDetail.lab_results === null" ng-show="labOrderDetail.result_observation_date === null") Sign
      .row
        .col-lg-4.col-md-4.col-lg-4
            .panel.panel-default
                .panel-heading(style="text-align:left; font-size:18px;")
                    | Specimen Info
        .col-lg-4.col-md-4.col-lg-4
            .panel.panel-default
                .panel-heading(style="text-align:left; font-size:18px;")
                    | Shipment Info
        .col-lg-4.col-md-4.col-lg-4
            .panel.panel-default
                .panel-heading(style="text-align:left; font-size:18px;")
                    | Lab Info
      .row
        .col-lg-4
            .panel.panel-default
                .panel-heading(style="text-align:left; font-size:18px;")
                    i.fa.fa-flask(aria-hidden='true')
                    |  Lab Results
                    a(ng-href='' ng-click="updateLabResult(labOrderDetail.openmrs_order_uuid)")
                        i.fa.fa-edit(style="float:right" aria-hidden="true")
                .panel-body
                    .well.well-lab-result
                        .span5.offset3
                            .div(style="color:red; margin: 0 auto;text-align:center" ng-if="resultHigh")
                                i.fa.fa-exclamation-triangle(aria-hidden="true")
                                br
                                | High
                            .div.lab-result
                                |{{labOrderDetail.lab_results}}
                            br
                            .div(align="center")
                                    | [Reference Range]
                                    table.table-responsive
                                        tbody
                                            tr
                                                td.reference-text Low
                                                td.reference-value 0 - 249
                                            tr
                                                td.reference-text Normal
                                                td.reference-value 250 - 449
                                            tr
                                                td.reference-text High
                                                td.reference-value 450 - 600

        .col-lg-8
            .panel.panel-default
                .panel-heading(style="text-align:left; font-size:18px;")
                    | Lab Comments
      .row
          .col-lg-12
              .panel.panel-default
                  .panel-heading(style="text-align:left; font-size:18px;")
                      | Status Summary
                  .panel-body
                      ol.wizard-progress.clearfix
                          li(ng-class = "{'active-step' : labOrderDetail.lab_ordered_date != null}")
                              span.step-name Lab Ordered
                              span.visuallyhidden Step
                              span.step-num 1
                              span.step-name {{labOrderDetail.lab_ordered_date | date : 'MM/dd/yyyy'}}
                          li(ng-class ="{'active-step' : labOrderDetail.specimen_collection_date != null}")
                              span.step-name Blood Drawn
                              span.visuallyhidden Step
                              span.step-num 2
                              span.step-name {{labOrderDetail.specimen_collection_date | date : 'MM/dd/yyyy'}}
                          li(ng-class ="{'active-step' : labOrderDetail.ship_to_lab_date != null}")
                              span.step-name Carrier Picked Up
                              span.visuallyhidden Step
                              span.step-num 3
                              span.step-name {{labOrderDetail.ship_to_lab_date | date : 'MM/dd/yyyy'}}
                          li(ng-class ="{'active-step' : labOrderDetail.lab_received_date != null}")
                              span.step-name
                                  | Delivered to Lab
                              span.visuallyhidden Step
                              span.step-num 4
                              span.step-name {{labOrderDetail.lab_received_date | date : 'MM/dd/yyyy'}}
                          li(ng-class ="{'active-step' : labOrderDetail.lab_processed_date != null}")
                              span.step-name
                                  | Processed Date
                              span.visuallyhidden Step
                              span.step-num 5
                              span.step-name {{labOrderDetail.lab_processed_date | date : 'MM/dd/yyyy'}}
                          li(ng-class ="{'active-step' : labOrderDetail.lab_returned_date != null}")
                              span.step-name
                                  | Results Delivered
                              span.visuallyhidden Step
                              span.step-num 6
                              span.step-name {{labOrderDetail.lab_returned_date | date : 'MM/dd/yyyy'}}
                          li(ng-class ="{'active-step' : labOrderDetail.result_observation_date != null}")
                              span.step-name
                                  | Provider Reviewed
                              span.visuallyhidden Step
                              span.step-num 7
                              span.step-name {{labOrderDetail.result_observation_date | date : 'MM/dd/yyyy'}}


