div(ng-controller='infoModalInstanceCtrl')
  .modal-header
  .modal-body(style='height:105vh;')
    .row(style='background-color:#ffffff; margin:0px;')
      .col-lg-12
        .create-new-event-cont
          h2.h2-create-new More Information
        .save-draft-cont(style='position:absolute; float:left; margin-left:-45px;')
            button.btn.btn-default.btn-circle.glyphicon.glyphicon-remove(type="button" ng-click="cancel()")
        .hor-line-br  
    // Content
    .row(style='margin:0px;')
      .col-lg-12(style='padding:30px;')
        .panel.panel-default
          .panel-body
            p
              strong Event Name:
              |  {{eventdoc.eventName}}
            p
              strong Event ID:
              |  {{eventdoc.eventInstanceId}}
            p
              strong Event Type:
              |  {{eventdoc.eventType}}
            p
              strong Created by:
              |  {{eventdoc.userCreated.displayName}}
            p
              strong Date Created:
              |  {{eventdoc.dateCreated | date :'medium'}}
            br
            hr
            // TABLE
            .table-responsive
              table.table.table-hover.table-striped
                thead
                  tr
                    th Media Type
                    th Assigned To
                    th Topics
                    th Sub-topics
                    th Data Received
                    th Last Submitted Date
                tbody
                  tr(ng-repeat="category in instance")
                    td {{category.name}}
                    td {{category.userAssigned}}
                    td {{category.topicCount}}
                    td {{category.subTopicCount}}
                    td {{category.statusCompleted ? 'Yes' : 'No'}}
                    td
                      | {{category.dateCompleted | date: 'MM/dd/yyyy'}}
                      br
                      | {{category.dateCompleted | date: 'hh:mm a'}}
    .clear-divs
                  