#page-wrapper
    .container-fluid
        // Page Heading
        .row
            .header.col-lg-12
                div
                    span(style='font-size: 20pt; font-weight: bold;') Tasks
                    button.btn.btn-primary(type='button', ng-click="createPatient('lg',null,true)", style='float: right;') Add Patient
                hr
        .row
            .col-lg-12.col-md-12.col-sm-12
                table.table.table-hover.table-responsive
                    thead
                        tr
                            th
                                a(href='', ng-click="sortType = 'specimen_name'; sortReverse = !sortReverse; sortOrder('specimen_name')")
                                    | Patient Name
                                    span.fa.fa-caret-down(ng-show="sortType == 'patientId' && !sortReverse")
                                    span.fa.fa-caret-up(ng-show="sortType == 'patientId' &&  sortReverse")
                            th
                                a(href='', ng-click="sortType = 'openmrs_order'; sortReverse = !sortReverse; sortOrder('openmrs_order')")
                                    | Test
                                    span.fa.fa-caret-down(ng-show="sortType == 'openmrs_order' && !sortReverse")
                                    span.fa.fa-caret-up(ng-show="sortType == 'openmrs_order' &&  sortReverse")
                            th
                                a(href='', ng-click="sortType = 'lab_ordered_date'; sortReverse = !sortReverse; sortOrder('lab_ordered_date')")
                                    | Ordered Date
                                    span.fa.fa-caret-down(ng-show="sortType == 'lab_ordered_date' && !sortReverse")
                                    span.fa.fa-caret-up(ng-show="sortType == 'lab_ordered_date' &&  sortReverse")
                            th
                                | Results Date
                            th
                                | results
                            th(style="text-align:center") Review Results

                    tbody
                        tr(ng-repeat='order in filOrders =(orderList | searchOrders : $parent.searchText) | limitTo: itemsPerPage : beginItem ')
                            td(ng-class-odd="'tableStripe'")
                                | {{order.specimen_name}}
                            td(ng-class-odd="'tableStripe'")
                                | {{order.openmrs_order}}
                            td(ng-class-odd="'tableStripe'")
                                | {{order.lab_ordered_date | date:'MM/dd/yyyy' }}
                            td(ng-class-odd="'tableStripe'" )
                                | {{order.lab_returned_date === null ? "N/A" : order.lab_returned_date | date:'MM/dd/yyyy'}}
                            td(ng-class-odd="'tableStripe'" )
                                span(style="color:{{resultFlag(order.lab_results)}}") {{order.lab_results===null ?"Pending" : order.lab_results }}
                            td(ng-class-odd="'tableStripe'" style="text-align:center")
                                i.fa.fa-eye(style="font-size: 1.5em;" aria-hidden='true' ng-class = "{'green-eye' : order.result_observation_date != null}")
                            td(ng-class-odd="'tabbleStripe'")
                                a(ng-href='' ng-click = "viewOrderDetail(order)") View Details
                            td(ng-class-odd="'tabbleStripe'")
                                a(ng-href='' ng-click = "updateLabResults(order)") Results Entry

        .row(ng-show='filOrders.length > itemsPerPage')
            .col-lg-12
                .text-center
                    pagination.pagination-sm(total-items='filOrders.length', items-per-page='itemsPerPage', ng-model='currentPage', max-size='maxsize', boundary-links='true', ng-change='pageChanged()', previous-text='‹', next-text='›', first-text='«', last-text='»')
