.visuallyhidden {
    display: none;
}

.wizard-progress {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    float: left;
    white-space: nowrap;
}

.wizard-progress li {
    float: left;
    margin-right: 50px;
    text-align: center;
    position: relative;
    width: 100px;
}

.wizard-progress .step-name {
    display: table-cell;
    height: 32px;
    vertical-align: bottom;
    text-align: center;
    width: 120px;
}

.wizard-progress .step-name-wrapper {
    display: table-cell;
    height: 100%;
    vertical-align: bottom;
}

.wizard-progress .step-num {
    font-size: 14px;
    font-weight: bold;
    border: 5px solid #FBE8AA;
    border-radius: 50%;
    width: 30px;
    display: inline-block;
    margin-top: 10px;
}

.wizard-progress .step-num:after {
    content: "";
    display: block;
    background: #FBE8AA;
    height: 8px;
    width: 130px;
    position: absolute;
    bottom: 43px;
    left: 60px;
}

.wizard-progress li:last-of-type .step-num:after {
    display: none;
}

.wizard-progress .active-step .step-num {
    background-color: #FBBD19;
}