doctype
html(lang="en" ng-app="app")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title HivViral
    link(rel="stylesheet" href="/css/bootstrap.min.css")
    link(rel="stylesheet" href="/css/angular-ui-tree.min.css")
    link(rel="stylesheet" href="/vendor/angular-ui-grid/nggrid 3rc21/css/ui-grid.min.css")
    link(rel="stylesheet" href="/vendor/chartjs/css/angular-chart.css")
    link(rel="stylesheet" href="/css/font-awesome.min.css")
    link(rel="stylesheet" href="/css/custom.css")
    link(rel="stylesheet" href="/css/dotprogressbar.css")
    link(rel="stylesheet" href="/vendor/toastr/toastr.css")
    link(rel="stylesheet" href="/css/animation.css")
    link(rel="stylesheet" href="/css/sb-admin.css")
    link(rel="stylesheet" href="/css/create-new-event.css")
    link(rel="stylesheet" href="/css/login.css")
    link(rel="stylesheet" href="/css/datetimepicker.css")
    link(rel="stylesheet" href="/vendor/bootstrap-sweetalert/lib/sweet-alert.css")
    link(rel="stylesheet" href="/vendor/angular-multi-select/isteven-multi-select.css")

    link(rel="P3Pv1" href="http://www.cdc.gov/w3c/p3p.xml")
  
    body(ng-controller='rootCtrl')
        #wrapper(style="display:none")
            // Navigation
            nav.navbar.navbar-inverse.navbar-fixed-top.ng-cloak(role='navigation')
                // Brand and toggle get grouped for better mobile display
                .navbar-header.ng-cloak
                    span.app-title HIV Viral Load
                    span Monitoring System
                .userDisplay
                    | Welcome, {{identity.currentUser.person.display}}
                    br
                    | System : {{identity.systemId}}
                // Top Menu Items
                // Sidebar Menu Items - These collapse to the responsive navigation menu on small screens
                .collapse.navbar-collapse.navbar-ex1-collapse.ng-cloak
                    ul.nav.navbar-nav.side-nav.ng-cloak
                        li.side-nav-search
                            .col-md-12
                                .right-inner-addon
                                    i.fa.fa-fw.fa-search
                                    input.form-control(ng-model='searchText', type='search', placeholder='Search', style='background-color:white; border: 1px thin; border-color:#212328; color:#aeaeae; font-weight:normal;')

                        li.side-nav-main-tab
                        li.taskList
                            a.taskLinkColor(ng-href='/#/')
                                i.fa.fa-list-ul(aria-hidden='true')
                                | &nbspPatient List
                        li.taksList
                            a(ng-href='/#/dashboard/tasks')
                                i.fa.fa-check-square-o(aria-hidden='true')
                                | &nbspTasks
                        li.taskList
                            a(ng-href='/#/dashboard/reports')
                                i.fa.fa-file-text-o(aria-hidden='true')
                                | &nbspReports
                            br
                        li.side-nav-settings
                            //i.fa.fa-fw.fa-cog
                        //li
                        //    a(href='/#/admin' ng-show="identity.isAuthorized('levelTwo')") Admin
                        li
                            a(href='' ng-click='logout()')
                                | Logout
                                i.fa.fa-fw.fa-power-off
                        li.side-nav-cdc-logo
                            img(src='img/cdc-logo.png', height='60', width='144')
                        li.side-nav-iiu-logo
                            img(src='img/iiu-logo.png', height='57', width='207')
                // /.navbar-collapse
            block main-content
    include currentUser
    include scripts